Dictionary

In [ ]:
student1Name = "a"
student1Age = 20
student1avgMarks = 75

In [2]:
car1 = {
    "topSpeed": "300km/hr",
    "color" : "red",
    "Model": 2020,
    "Brand": "Tata"
}

In [3]:
student1 = {
    "Name" : "a",
    "Age": 20,
    "avgMarks": 75,
    "city": "Hyderabad",
    "phoneNumber" : 7865538
}

In [4]:
print(student1)

{'Name': 'a', 'Age': 20, 'avgMarks': 75, 'city': 'Hyderabad', 'phoneNumber': 7865538}

In [8]:
student2 = {
    "Name" : "b",
    "Age": 22,
    "avgMarks": 75,
    "city": "Hyderabad",
    "phoneNumber" : 8553834,
    "marks": [70,80,90]
}

In [9]:
print(student2)

{'Name': 'b', 'Age': 22, 'avgMarks': 75, 'city': 'Hyderabad', 'phoneNumber': 8553834, 'marks': [70, 80, 90]}

In [10]:
print(student2["avgMarks"])

75

In [11]:
print(student2["marks"])

[70, 80, 90]

In [12]:
student3 = {
    "Name" : "b",
    "Age": 22,
    "avgMarks": 75,
    "city": "Hyderabad",
    "phoneNumber" : 8553834,
    "marks":{
        "Maths": 80,
        "Science": 75,
        "English": 85
    }
}

In [13]:
print(student3)

{'Name': 'b', 'Age': 22, 'avgMarks': 75, 'city': 'Hyderabad', 'phoneNumber': 8553834, 'marks': {'Maths': 80, 'Science': 75, 'English': 85}}

In [14]:
print(student3["marks"])

{'Maths': 80, 'Science': 75, 'English': 85}

In [16]:
print(student3["marks"]["English"])

85

In [18]:
print(student3.get("city"))

Hyderabad

In [20]:
print(student3.get("marks")["Science"])

75

In [22]:
print(student3.get("marks").get("Science"))

75

In [35]:
shahzor = {
    "ID": 123,
    "office": "Asus",
    "College": "MJCET",
    "Offers":{
        "Dell": "12LPA",
        "Lenovo": "14LPA",

    }
}

In [36]:
print(shahzor)

{'ID': 123, 'office': 'Asus', 'College': 'MJCET', 'Offers': {'Dell': '12LPA', 'Lenovo': '14LPA'}}

In [37]:
shahzor["ID"] = 456
print(shahzor)

{'ID': 456, 'office': 'Asus', 'College': 'MJCET', 'Offers': {'Dell': '12LPA', 'Lenovo': '14LPA'}}

In [38]:
shahzor["Age"] = 21
print(shahzor)

{'ID': 456, 'office': 'Asus', 'College': 'MJCET', 'Offers': {'Dell': '12LPA', 'Lenovo': '14LPA'}, 'Age': 21}

In [39]:
shahzor["Offers"]["Dell"] = "15LPA"
print(shahzor)

{'ID': 456, 'office': 'Asus', 'College': 'MJCET', 'Offers': {'Dell': '15LPA', 'Lenovo': '14LPA'}, 'Age': 21}

In [40]:
del shahzor["Age"]
print(shahzor)

{'ID': 456, 'office': 'Asus', 'College': 'MJCET', 'Offers': {'Dell': '15LPA', 'Lenovo': '14LPA'}}

In [53]:
del shahzor["Offers"]["Lenovo"]
print(shahzor)

{'ID': 456, 'office': 'Asus', 'College': 'MJCET', 'Offers': {'Dell': '15LPA'}}

In [42]:
print(shahzor.values())

dict_values([456, 'Asus', 'MJCET', {'Dell': '15LPA', 'Lenovo': '14LPA'}])

In [43]:
print(shahzor.keys())

dict_keys(['ID', 'office', 'College', 'Offers'])

In [50]:
dict1 = {
    "Name": "a",
    "Age": 20
}
print(dict1)

{'Name': 'a', 'Age': 20}

In [51]:
dict2 = {
    "City" : "Hyd",
    "Age": 30
}
print(dict2)

{'City': 'Hyd', 'Age': 30}

In [52]:
dict1.update(dict2)
print(dict1)

{'Name': 'a', 'Age': 30, 'City': 'Hyd'}

In [ ]:
dict1.pop("City")

'Hyd'

In [55]:
print(dict1)

{'Name': 'a', 'Age': 30}

In [56]:
dict1.popitem()

('Age', 30)

In [57]:
print(dict1)

{'Name': 'a'}

In [58]:
dict1.clear()

In [59]:
print(dict1)

{}

In [68]:
dict1 = {
    "Name": "a",
    "Age": 21,
    "City": "Hyd",
    "phoneNO": 132424
}

In [69]:
# shallo copy
dic1Copy = dict1.copy()
dic1Copy["Name"] = "b"
print(dic1Copy)

{'Name': 'b', 'Age': 21, 'City': 'Hyd', 'phoneNO': 132424}

In [70]:
print(dict1)

{'Name': 'a', 'Age': 21, 'City': 'Hyd', 'phoneNO': 132424}

In [73]:
# deep copy
import copy
dict1 = {
    "Name": "a",
    "Age": 21,
    "City": "Hyd",
    "phoneNO": 132424
}
dic1Copy = copy.deepcopy(dict1)
dic1Copy["Name"] = "b"
print(dic1Copy)
print(dict1)

{'Name': 'b', 'Age': 21, 'City': 'Hyd', 'phoneNO': 132424}
{'Name': 'a', 'Age': 21, 'City': 'Hyd', 'phoneNO': 132424}

In [90]:
fruit_prices = {
    "apple": 1.5,
    "banana": 0.5,
    "orange": 0.75
}

In [95]:
# print all the fruit names and their prices
print(fruit_prices.keys())
print(fruit_prices.values())

dict_keys(['apple', 'banana', 'orange'])
dict_values([1.5, 5.0, 0.75])

In [96]:
# Add a new fruit with its price
fruit_prices["peach"] = 10
print(fruit_prices)

{'apple': 1.5, 'banana': 5.0, 'orange': 0.75, 'peach': 10}

In [97]:
# Update the price of one existing fruit
fruit_prices["banana"] = 5.0
print(fruit_prices)

{'apple': 1.5, 'banana': 5.0, 'orange': 0.75, 'peach': 10}

In [98]:
# Remove one fruit from the dictionary
del fruit_prices["peach"]
print(fruit_prices)

{'apple': 1.5, 'banana': 5.0, 'orange': 0.75}